/* MOBILE CSS STYLES */
@media only screen and (max-width: 740px) {

/*-Nav*/
  .desktop-nav{
    display: none;
  }
  .mobile-nav {
    display: inline-block;
    position: relative;
/*    left: 0;*/
/*    top: 4.375em;*/
/*    position: absolute;*/
/*    width: 100%;*/
  }
  .dropdown-content {
    display: none;
/*    position: absolute;*/
    position: fixed;
    bottom: 40px;
    left: 5px;
    font-size: 1.5em;
    z-index: 1000;
  }
  .dropdown-content a {
    font-family: "Tulpen One";
    letter-spacing: 6px;
    font-weight: bold;
    text-align: center;
    color: antiquewhite;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 11;
    border: dotted 1px antiquewhite;
    margin: 10px;
    padding: 10px 50px;
  }
  .mobile-nav:hover .dropdown-content {
    display: block;
    z-index: 11;
    background-color:rgba(26, 7, 26, 0.9);
  }
  .dropbtn img{
    filter: invert(100%);
    width: 50px;
/*    position: static;*/
/*    bottom: 15px;*/
}
  * {text-align: center;}
  button {
    background: transparent;
    border: none;
/*    padding: 30px 0 0 30px;*/
/*    position: fixed;*/
    bottom: 40px;
    left: 5px;
    z-index: 100px;
  }

/*Typography*/
h1 {font-size: 2.4em;}
/*h2 {font-size: 2em;*/
}
/*h3 {font-size: 20px;}*/
/*h4 {font-size: 17px;}*/
h2, h3, h4 {
    font-size: 2em;;
}
p{ 
  font-size: 1.4em;
  line-height: inherit;
}
/*Featured*/
.figure {
  min-width: 400px;
}
ol.img-list {
  padding: 0;
}
  
/*My Work*/
.work-content {
/*margin: 0;*/
/*padding: 50px;*/
/*width: 100%;*/
max-width: 60%;
  }
/*About Me*/
.about-me p{
padding: 0 40px;
}

/*Footer*/
  
.social-media img {
/*  width: 30px*/
}
.edit-by {
  padding-bottom: 25px;
}
.social-media {
  float: none;
}
}