/*TYPOGRAPHY*/
h1 {font-size: 30px;}
h2 {font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}
h3 {font-size: 20px;}
h4 {font-size: 17px;}
h2, h3, h4 {
    text-align: center;
}
p{
    text-align: justify;
    padding: 0 100px;
    line-height: 21px;
}

/*HTML*/
body, html {
  background-color: dimgrey;
  height: 100%;
  bottom: 0px;
  height: auto;
}
header, footer, main, body {
    position: relative;
}

/***BODY***/
h1{
  text-transform: uppercase;
  font-weight: bold;
}
h2, h3, .my-work{
    text-align: center;
    margin: 50px auto;
}
h4 {
  display: inline-block;
  padding: 0 20px;
  text-align: center;
}
hr {
    width: 60.19%;
    padding: 0px;
}

/***HEADER & NAV***/
#name-title {
  display: inline-block;
  margin: 0;
  padding: 25px;
  width: 21.87%;
  min-width: 240px;
}
.desktop-nav {
  display: inline-block;
  float: right;
  padding: 35px;
  word-spacing: 40px;
}
.mobile-nav {
  display: none;
}

/*MAIN*/
#woohoo-it-me {
  width: 250px;
  border-radius: 180px;
  display: block;
  margin: 50px auto;
}

/*--Featured Works-*/
.featured-img {
    display: block;
    width: 100%;;
}
.screen {
    max-height: 300px;
    /* min-width: 250px; */
    margin: auto;
    padding: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.screen:hover {
    max-height: 320px;
    box-shadow: 1px 1px 1px 2px white;
    display: inline-block;
}

/*--My Work-*/
.work-content{
    margin: auto;
    width: 150px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}
.work-content-table {
  vertical-align: top;
}
table {
    position: relative;
    text-align: center;
    margin: auto;
}
table td {
/*    border: dotted;*/
    width: 200px;
}
td.work-content{
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  text-align: center;
}
td p {
/*  text-align: center;*/
  text-align: justify;
}

/*--About Me-*/
.about-content{
  margin: auto;
  max-width: 825px; 
}

/*--Skills-*/
.skills {
    display: block;
    margin: auto;
    text-align: center;
}

/*FOOTER*/
.footer-bar {
  display: block;
  position: relative;
  vertical-align: middle;
  bottom: 0px;
  height: 75px;
/*  border-top: solid white 2px;*/
/*      box-shadow: 0  0 1px 0;*/
}
.edit-by, .social-media {
  margin: 0;
  padding: 10px;
  position: relative;
  display: inline-block;
/*    vertical-align: middle;*/

}
.social-media {
  float: right;
}
.edit-by span{
  position: relative;
  padding: 15px;
  vertical-align: middle;
}
.edit-by {
  top: 20px;
}
.social-media img {
  filter: invert(100%);
  width: 50px;
  margin: auto;
/*  display: inline;*/
  padding: 0px 10px;
}

/*LINKS*/
a {
    /* font-size: 18px; */
    font-family: 'Lexend Deca';
    color: antiquewhite;
    text-decoration: none;
}
a:hover {
    font-size: 20px;
    text-shadow: 5px 5px 5px rgb(144, 247, 144);
}

/*FONTS*/
@font-face {
    font-family: 'Londrina Shadow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Londrina Shadow Regular'), local('LondrinaShadow-Regular'), url(https://fonts.gstatic.com/s/londrinashadow/v9/oPWX_kB4kOQoWNJmjxLV5JuoCUlnQVyT.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } /* Londrina Shadow */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJy8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }/* Lexend Deca */

h1{font-family:'Londrina Shadow', 'Open Sans', 'Helvetica Neue', sans-serif;}
h2, h3, h4, p{font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;}
html, body, h5, h6 {font: normal 100% Helvetica, Arial, sans-serif;}
html, body, h1, h2, h3, h4, h5, h6, header, footer, main {color: antiquewhite;}


/*Width percentages calculated using a window width of 1080*/